#!/usr/bin/env python3

import sys
import select
import time
import socket

uid = "AIRPORT_ICAO_CODE"
ap = ("thebaldgeek.net",ASK_TBG_FOR_PORT)
sk = socket.socket(family=socket.AF_INET, type=socket.SOCK_DGRAM)
def sendOverUdp(line):
    try:
        bytes = str.encode(line)
        print(len(bytes))
        if len(bytes) < 65300 :
           sk.sendto(bytes, ap)
    except Exception as e:
        print(e)

def no_input():
    print('no input')

while True:
    line = uid + sys.stdin.readline()
    if line:
        sendOverUdp(line)
    else:
        time.sleep(1)
else:
    no_input()